{% extends 'base.html' %}
{% load humanize %}
{% block hed %}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
{% endblock %}

{% block css %}
    <style>
    th,td {
        white-space: nowrap;
        text-align: center;
    }
    </style>

<style>

    /* تحسينات الجدول */
    .table {
        background-color: #ffffff; /* خلفية بيضاء للجدول */
    }
    .table th {
        background-color: #007bff; /* لون أزرق لرأس الجدول */
        color: white;
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0,0,0,.05); /* تناوب ألوان الصفوف */
    }

    /* تحسينات على الأزرار والمدخلات */
    .btn-primary, .form-control {
        border-radius: 0.3rem;
    }
    .btn-info {
        background-color: #17a2b8;
    }

    /* تحسينات على العناوين والنصوص */
    h5 {
        color: #007bff; /* لون العنوان الأساسي */
        margin-bottom: 15px;
    }

    /* تحسينات إضافية للتصميم */
    .current-balance-container {
        background-color: #ffffff;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
        margin-top: 15px;
        padding: 10px;
        border-radius: 5px;
    }
</style>
    <style>
    /* تحسينات على الأزرار */
    .btn-info {
        background-color: #17a2b8;
        border-color: #17a2b8;
        color: white;
        box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3); /* إضافة ظل خفيف */
        margin-right: 15px; /* إضافة هامش لليمين */
    }
    .btn-info:hover {
        background-color: #138496;
        border-color: #117a8b;
    }


    .col-md-12 {
        display: flex;
        justify-content: flex-end; /* محاذاة الأزرار لليمين */
    }
</style>
    <style>
    .agent-title {
        background-color: #eef5f9; /* لون خلفية فاتح */
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }
    .agent-title h5 {
        color: #333;
        font-weight: bold;
        margin-bottom: 0;
    }
    .agent-title span {
        color: orangered;
        font-size: 20px;
        font-weight: bold;
    }
    .form-control, .btn {
        border-radius: 0.25rem;
    }
    .btn-primary {
        background-color: #4CAF50;
        border-color: #4CAF50;
    }
    .btn-primary:hover {
        background-color: #45a049;
    }
    .btn-info {
        background-color: #17a2b8;
        border-color: #17a2b8;
        color: white;
        box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3);
    }
</style>


{% endblock %}


{% block con %}
<div class="mt-4">
  <div class="agent-title" style="background-color: #f2f2f2; padding: 10px; border-radius: 5px;">
    <h5 style="margin-bottom: 10px; color: #333; font-weight: bold;">
        <i class="fas fa-user-tie" style="color: #007bff; margin-right: 5px;"></i>كشف حساب الوكيل:
    </h5>
    <span style="color: orangered; font-weight: bold; font-size: 18px;">
        <i class="fas fa-id-card" style="color: green; margin-right: 5px;"></i>{{ agent.name }}
    </span>
</div>


    <!-- نموذج البحث -->
    <!-- نموذج البحث -->
<form style="direction: rtl; margin-top: 20px;" method="get" class="mb-4">
    <div class="row">
        <!-- تاريخ البداية -->
        <div class="col-md-3">
            <label for="start_date"><i class="fas fa-calendar-alt" style="color: green;"></i> تاريخ البداية</label>
            <input type="date" class="form-control" id="start_date" name="start_date" value="{{ request.GET.start_date }}">
        </div>

        <!-- تاريخ النهاية -->
        <div class="col-md-3">
            <label for="end_date"><i class="fas fa-calendar-alt" style="color: green;"></i> تاريخ النهاية</label>
            <input type="date" class="form-control" id="end_date" name="end_date" value="{{ request.GET.end_date }}">
        </div>

        <!-- رقم الفاتورة -->
        <div class="col-md-3">
            <label for="invoice_number"><i class="fas fa-file-invoice" style="color: blue;"></i> رقم الفاتورة</label>
            <input type="text" class="form-control" id="invoice_number" name="invoice_number" value="{{ request.GET.invoice_number }}" placeholder="أدخل رقم الفاتورة">
        </div>

        <!-- زر البحث -->
        <div class="col-md-3 align-self-end">
            <button type="submit" class="btn btn-primary" style="width: 100%;">
                <i class="fas fa-search"></i> بحث
            </button>
        </div>
    </div>
</form>


    <div class="row mt-3 mb-2">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-info" onclick="redirectToPrintPage({{ agentid }})" style="box-shadow: 0px 2px 4px rgba(0, 123, 255, 0.5);">
                <i class="fas fa-print"></i> طباعة الكشف
            </button>
        </div>
    </div>


    <div class="table-responsive" style="border: 1px solid orangered;overflow: hidden;border-radius: 5px">
    <table id="agent_statment" class="table table-striped table-bordered   table-bordered" style="font-size: 16px;direction: rtl">
        <thead class="thead-dark">
            <tr>
                <th scope="col"><i class="fas fa-hashtag text-info"></i> رقم الحركة</th>
                <th scope="col"><i class="fas fa-calendar-alt text-info"></i> تاريخ العملية</th>
                <th scope="col"><i class="fas fa-clock text-warning"></i> وقت العملية</th>
                <th scope="col"><i class="fas fa-exchange-alt text-success"></i> نوع العملية</th>
                <th scope="col"><i class="fas fa-money-bill-wave text-primary"></i> المبلغ</th>
                <th scope="col"><i class="fas fa-balance-scale-left text-danger"></i> الرصيد السابق</th>
                <th scope="col"><i class="fas fa-balance-scale-right text-danger"></i> الرصيد الحالي</th>
                <th scope="col"><i class="fas fa-receipt text-secondary"></i> الإيصال</th>
                 <th scope="col"><i class="fas fa-receipt text-danger"></i> رقم الفاتوره </th>
                <th scope="col"><i class="fas fa-sticky-note text-secondary"></i> الملاحظات</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in agent_transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td class="text-center">{{ transaction.date }}</td>
                <td>{{ transaction.time }}</td>
                <td>
                    {% if transaction.transaction_type == 'purchase' %}
                        <i class="fas fa-shopping-cart text-primary"></i> شراء
                    {% else %}
                        <i class="fas fa-hand-holding-usd text-success"></i> دفع
                    {% endif %}
                </td>
                <td class="text-center">{{ transaction.amount |intcomma}}</td>
                <td class="text-center">{{ transaction.balance_last|intcomma }}</td>
                <td class="text-center">{{ transaction.balance|intcomma }}</td>
                <td class="text-center">
                    {% if transaction.receipt %}
                        <a href="{{ transaction.receipt.url }}" target="_blank"><i class="fas fa-file-pdf text-danger"></i></a>

                    {% else %}
                        -
                    {% endif %}
                {% if transaction.receipt_empty %}
                <a href="{{ transaction.receipt_empty.url }}" target="_blank"><i class="fas fa-file-pdf text-success"></i></a>
                {% else %}
                -
                {% endif %}
                </td>
            {% if transaction.invice_n %}
            <td class="text-center" >{{ transaction.invice_n }}</td>
            {% else %}
            <td class="text-center">-</td>
            {% endif %}

            {% if transaction.note %}
                <td style="white-space: pre-wrap;font-size: 13px" class="text-center" >{{ transaction.note }}</td>
            {% else %}
            <td class="text-center">-</td>
            {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="9" class="text-center">لا توجد عمليات مسجلة.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
 <div class="current-balance-container" style="padding: 10px; margin-top: -1px; border: 1px solid orangered; border-radius: 0 0 5px 5px; background-color: #fff; display: flex; justify-content: space-between; align-items: center;direction: rtl">
        <h5 style="margin: 0; color: orangered; font-weight: bold;">الرصيد الحالي للوكيل:</h5>
        <p style="margin: 0; font-size: 20px; font-weight: bold;">{{ agent.get_balance | intcomma }} د.ع</p>
    </div>
</div>
</div>
{% endblock %}


{% block js %}
<script>
function redirectToPrintPage(agentId) {
    const startDate = document.getElementById('start_date').value;
    const endDate = document.getElementById('end_date').value;
    let url = `/status/${agentId}?`;

    if (startDate) {
        url += `start_date=${startDate}&`;
    }
    if (endDate) {
        url += `end_date=${endDate}`;
    }

    window.location.href = url;
}

</script>
{% endblock %}